version: '3.8'

services:
  api:
    build: .
    ports:
      - "9999:8000"
    volumes:
      - ./src:/app/src
    depends_on:
      - postgres

  postgres:
    image: postgres:latest
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: abc123
      POSTGRES_DB: allocation
    ports:
      - "5432:5432"